## Libraries
python menjadi tools yang popular untuk pengolahan data dan pengembangan model matematika dan machine learning karena tersedia banyak sekali library sebagai tambahan (add-on) yang membantu, contohnya:
- NumPy : library ini menyediakan beberapa fungsi basic linear algebra, advance number randomizer, transformasi matrix, dll
- SciPy : library ini merupakan add-on dari NumPy dengan beberapa high-level engineering and science modules, seperti sparce matrix
- Matplotlib : library data visualisasi standar pada python dengan banyak pilihan graph dan chart
- Pandas : library yang popular dalam pengolahan data, digunakan dalam proses manipulasi/transformasi data dan fase preprocessing data
- Scikit Learn: library yang memiliki banyak tools berguna untuk statistical modeling and machine learning seperti dimensionality reduction, clustering, regression, and classification.
- Seaborn: library ini membantu untuk membuat visualisasi statistik yang informatif dan menarik.
- Requests: library yang digunakan untuk mengakses web.

#### mengimport library
library butuh di import kedalam file coding agak dapat digunakan. pada saat mengimport, library dapat diberikan alias name agar lebih mudah diingat. Beberapa library memiliki nama alias yang umum digunakan seperti:
- pd untuk pandas
- np untuk numpy
- plt untuk mathplotlib
- sns untuk seaborn

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests

#### menginstall library
jika mendapat error saat proses import, kemungkinan library belum terinstall pada environtment. Proses instalasi bisa melalui anaconda atau menggunakan pip install seperti berikut:

In [ ]:
!pip install missingno

In [ ]:
# setelah di install library perlu di import sebelum dapat digunakan
import missingno as msno

## Pandas Dataframe
pandas sebagai library yang membantu dalam pengolahan data memiliki struktur table yang disebut dataframe. Dataframe dapat di bentuk dari list atau dictionary yang ada pada basic python dan juga melalui pembacaan table dari file eksternal.

#### membuat dataframe dari dictionary
![tabledata.png]()

In [ ]:
#masukkan data tersebut dengan membuat dictionary seperti pada bagian sebelumnya
hasil = {'Year':[2000,1950,...], dst,
        }
hasil

In [ ]:
# convert dict to dataframe
hasil_df = pd.DataFrame(hasil)
hasil_df

#### membuat dataframe dari file eksternal
gunakan beberapa fungsi read yang ada pada pandas. pada sesi kali ini disediakan satu datafile (csv) yang bisa digunakan untuk berlatih.

In [ ]:
# connect colab ke g drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Membuat path untuk mengidentifikasi letak directory
# Catatan : pastikan path yang anda masukkan sesuai dengan directory data.
# Kemungkinan besar path di contoh ini berbeda dengan penyimpanan data
path = "/content/gdrive/MyDrive/data/"

In [ ]:
# Load data
data_latihan = pd.read_csv("/content/gdrive/MyDrive/data/Data_latihan_alprog.csv")

data_latihan.head()

## Data Overview
untuk melihat overview data secara sekilas, dapat menggunakan beberapa fungsi pada dataframe pandas:
- head(x) untuk menampilkan x number of row pertama dari data,
- tail(x) untuk menampilkan x number of row terakhir dari data,
- shape untuk menampilkan dimensi tabel (jumlah row, jumlah kolom),
- describe() untuk menampilkan beberapa statistik descriptive di tiap kolom,
- dtypes untuk menampilkan data type tiap kolom yang ada pada data

#### latihan
gunakan fungsi-fungsi di atas pada data latihan, dan jawab beberapa pertanyaan berikut:
1. berapa jumlah row dan kolom yang ada pada data tersebut?
2. apakah ada datatypes yang selain numeric?
3. apa kesimpulan sementara yang bisa diambil dari statistik deskripsi kolom tkdn dan product url?

## Data Selection and Filtering
#### column selection
memilih kolom dapat dilakukan sama seperti indexing dictionary, cukup menambahkan nama kolom (bentuk string) di dalam braket [ ] setelah nama dataframe.

In [ ]:
data_latihan['brand']

jika memilih lebih dari satu column, kumpulan nama column di masukkan dalam sebuah list

In [ ]:
list_col = ['item_price','product_name']
data_latihan[list_col]

#### Row selection/filtering
pemilihan row atau filtering dilakukan dengan menggunakan conditional statement

#### conditional statement pada pandas

In [ ]:
mask = data_latihan['item_price'] <= 10000000
mask

In [ ]:
data_latihan[mask]

tambahkan simbol **~** untuk membalikan hasil conditional statement (not/negative statement)

In [ ]:
data_latihan[~mask]

#### latihan

Berapa jumlah row pada data e katalog dengan kondisi seperti berikut:
1. item dengan product_type non lokal?
2. item dengan Tingkat Komponen Dalam Negeri (TKDN) lebih dari 90%?
3. item dengan harga antara 1 juta dan 10 juta?

## Data Aggregation and Manipulation
#### numeric operation
dua kolom numberic pada dataframe dapat dioperasikan pada sebuah operasi matematika

In [ ]:
data_latihan['__________']+ data_latihan['__________']

In [ ]:
data_latihan['__________']/ 100

In [ ]:
#membuat kolom tertentu
data_latihan['_____________'] = data_latihan['___________'] + 100
data_latihan

#### String operation
pandas dataframe memiliki beberapa fungsi string yang bisa di operasikan terhadap seluruh row, contohnya:
- str.len()
- str.split()
- str.contains()
- str.replace()
- str.isdigit()

dll

In [ ]:
mask = data_latihan.item_code.str.len() != 24
data_latihan[mask][['item_id','item_title','item_price']]

In [ ]:
mask = data_latihan['nomor_izin_edar_(akd/akl/lainnya)'].str.contains('AKD')
data_latihan[~mask][['item_id','item_price']]

#### data aggregation
terdapat beberapa fungsi aggregasi yang bisa digunakan, seperti count, sum, max, min, mean<br>
fungsi ini berguna untuk mengaggregasi data yang telah difilter

In [ ]:
data_latihan['_______________'].mean()

In [ ]:
filtered = data_latihan[data_latihan['Year'] > 1940]
filtered['___________'].sum()

#### latihan
dengan menggunakan fungsi2 manipulasi dan aggregasi, berapa rata-rata harga barang yang izin edarnya tidak mengandung text 'AKD'?