# Part 1: Getting Started

### 1. Mencetak Statement
Di python, statement bisa dimunculkan dengan fungsi **print()**. untuk menjalankan perintah di satu cell dilakukan dengan cara mengklik tombol run di toolbar atas, atau bisa dengan shortcut **shift+enter**

In [ ]:
print('Algoritma Pemrograman 116')

### 2. Memberikan comment/catatan
Pemberian comment/catatan yang tidak di proses dilakukan dengan menambahkan **#** di depan bagian yang ingin dijadikan comment. atau bisa dengan shortcut **ctrl + /**

Secara default, baris yang paling bawah akan di munculkan hasilnya walaupun tanpa perintah print. sedangkan baris sebelum nya hanya akan di munculkan jika ada fungsi print

In [1]:
# 'Algoritma'
'Pemrograman'
# 116

'Pemrograman'

In [ ]:
'hari ini adalah'
print('hari ini adalah hari rabu')
'hari rabu sebagai contoh print hari terakhir'

### 3. Variabel
Data butuh disimpan untuk proses selanjutnya/proses yang berulang. Penyimpanan data ini biasa di sebut variable. Analoginya, penyimpanan data di variable adalah menempekan sticky note berisi suatu nama di suatu object.

Aturan dasar penamaan variable
* a-z A-Z 0-9 _
* Case sensitive
* Tidak boleh dimulai dengan angka
* Tidak boleh sama dengan nama fungsi bawaan python (print, len, sum, if, for)

In [ ]:
a = 35
b = 11.3
c = "hello world"
123satu = "angka"
nilai$ = 5000
class = 2
print(b)

### 4. Tipe Data
Di python, terdapat 3 basic type data:
- numeric: int untuk angka bulat, float untuk angka desimal
- text: str (string)
- conditional: bool (boolean, True/False)

untuk mengecek type data, gunakan fungsi type()

In [ ]:
type(a)
type(b)
type(c)

**lakukan pengecekan untuk tipe data yang lain**

In [ ]:
type(...)
type(...)

### 5. Operasi Aritmetika
untuk memproses angka, dapat digunakan operator sebagai berikut:
- +
- -
- *
- /
- //
- %
- **

In [ ]:
a = 5
b = 3
print(a*b)

15

#### latihan:
Jalankan operasi angka di bawah, gunakan **a = 10**, **b = 5**, **c = 5.5**, **d = 3**
    1. a / d
    2. a // d
    3. a % d
    4. a ** d
    5. a / b + 5 - 5.5 * c
    6. a**2 + 2 - c // 5 * 2
    7. (a + b) * 3 / d + (4 - d)

### 6. Operasi pada string
Terdapat beberapa fungsi yang dapat digunakan untuk memproses text. beberapa fungsi dasar yang bisa di coba:
- \+ (concatenate / menggabungkan dua text)
- \* (multiplication / duplikasi text, sama dengan one + one + one)
- len() (mengetahui panjang karakter string)
- count() (menghitung jumlah kemunculan text yang dimasukan)

In [ ]:
one = "abc"
two = "xyz"
contoh= "ini adalah contoh text yang agak panjang"

one + two
one * 3
len(contoh)
contoh.count('a')

len dan count merupakan contoh dari perbedaan tipe fungsi/command. len adalah fungsi basic pyhton yang dapat digunakan langsung. sedangkan count adalah fungsi yang melekat pada string object, jadi hanya bisa digunakan dari variable yang menyimpan text.

#### latihan:
apa yang error dari code di bawah ini:

bagaimana memperbaiki errornya?

In [ ]:
a = "Echa mendapat score "
b = 85
c = "di ujian akhir kemarin"
d = a + b + c
print(d)

### 7. Relational dan Logical Operators
untuk membandingkan dua data dan menghasilkan boolean variable, digunakan beberapa operator relational sebagai berikut:
- \>
- <
- \>=
- <=
- ==
- !=

untuk membandingkan dua relation, gunakan logical operator berikut:
- and
- or

In [ ]:
# 12 == 12
# 14 >= 13
# 25 < 22

In [ ]:
12 == 12 and 14 >= 13

boolean variable biasa digunakan untuk control flow (if else statement)

In [ ]:
# cek = "ini adalah contoh text yang agak panjang"
# cek = "ini adalah contoh text panjang"
cek = "ini adalah text"

if len(cek) > 30:
    print('text terlalu panjang')
elif len(cek) > 20:
    print('text panjang')
else:
    print('text pendek')

dapat dilihat, untuk baris-baris yang terkait dengan conditional statement di atasnya diberikan indentation (tab / 4 spasi) dan terdapat tanda : sebelum baris yang diindentasikan.

#### latihan:
coba gunakan relational operators untuk membandingkan 2 tipe data yang berbeda? kesimpulannya?

### 8. Tipe Data Sequence

terdapat beberapa tipe data sequence, pada kali ini akan di perkenalkan 3 tipe yaitu str, list dan tuple.

#### 8.1 list
Python dapat mengelompokkan beberap tipe data yang berbeda menjadi satu kelompok, yang kemudian dikenal sebagai list. Analogi list adalah sebuah lemari dengan laci yang berurutan dan setiap laci di beri nomor mulai dari 0

#### membuat list

In [ ]:
#definition
contoh_list = [1,2,'text',4.0,68,3,5]
print(contoh_list)

#### mengakses data

In [ ]:
#indexing
ambil = contoh_list[3] # mengambil data ke 4 (index 3, perhitungan mulai dari 0)
print(ambil)

ambil = contoh_list[1:4] # mengambil data ke 2 sd 4 (index 1,2,3) angka setelah ':' di exclude kan
print(ambil)

ambil = contoh_list[3:] # mengambil data ke 4 sd akhir (index 3,4,5,6)
print(ambil)

ambil = contoh_list[:5] # mengambil data awal sd ke 5 (index 0,1,2,3,4)
print(ambil)

ambil = contoh_list[-2] # mengambil data ke 2 dari kanan
print(ambil)

List juga dapat dipisah-pisah dan dapat digabungkan, ditambahkan dan lainnya

In [ ]:
# ditambahkan
contoh_list + [....]
# penggandaan
3*contoh_list[....]

struktur dari list yang sudah dibuat juga bisa diubah seperti untuk mengganti elemen, menghilangkan elemen dll

In [ ]:
# mengganti nilai
contoh_list[0:1]=[2,3]
# mengetahui jumlah elemen
len()
# menambahkan anggota
___.append()
# mengurutkan
sort()
# menghapus elemen
del
dll

#### 8.2 String
String dianggap sebagai array of character

#### membuat string

In [ ]:
kata = "algoritma"
ambil = kata [0]
print(ambil)
ambil = kata [1]
print(ambil)
ambil = kata [2:3]

Tidak seperti pada list, anggota elemen dalam string tidak dapat digantikan. Akan tetapi untuk melakukan penambahan karakter pada string dapat dilakukan dengan operator **+**

In [ ]:
kata [___] + ' pemrograman'

#### 8.3 Tuples
Tuples terdiri atas nilai - nilai angka dan string. Operasi pada tuples hampir sama dengan list tetapi sifatnya lebih cenderung ke string, karena beberapa elemen anggotanya tidak adapat langsung di ubah-ubah.

#### penggunaan tuples

In [ ]:
c = 123, 345, 567, 'hello'
c

In [ ]:
c[0:3]

In [ ]:
len(c)

In [ ]:
print(list(kata))
print(tuple(kata))
set(kata)

### 9. Dictionary
Analogi dictionary adalah sebuah lemari yang memiliki beberapa laci yang memiliki nama unique. Tidak seperti data sekuensial yang diurutkan menurut urutan indeks, dictionary di indeks dengan keys dari dictionary itu sendiri, dimana suatu key dapat berupa angka-angka, bilangan pecahan atau string.

#### 9.1 membuat dict
untuk membuat dictionary hanya memerlukan sepasang tanda kurung kurawal **{ }**

In [ ]:
contoh_dict = {'Dale': 9073, 'Page': 9128, 'Small': 9223, 'Nate':9330}
print(contoh_dict)

{'Dale': 9073, 'Small': 9223, 'Page': 9128, 'Nate': 9330}

#### 9.2 mengakses data

In [ ]:
ambil = contoh_dict['Page']
print(ambil)

# mengambil semua data
print(contoh_dict.values())

# mengambil semua keys
print(contoh_dict.keys())

#### 9.3 Operasi pada dictionary

In [ ]:
del ____
len ____

#### 9.3 Metode pada dictionary

In [ ]:
________.keys()

In [ ]:
________.values()